@charset "UT-8";
body {
    height: 100vh;
    background-image: url(/_IMG/nw3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    border: solid 2px;
    color: #f2f0f0;
    border-radius: 10px;
    background-color: #243340;
    text-align: center;
    line-height: 150%;
}

article {
    background-color: #f2f0f09b;
    border: solid #243340 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

div {
    background-color: #f2f0f09b;
    border: solid #243340 2px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
